
.welcome h1 {
    margin: 0;
    padding: 0;
    animation: typing-text 3s steps(44), blink 0.4s infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #000;
}

@keyframes typing-text {
    from {
        width: 0;
     }
     to {
         width:850px;
     }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: #000;
    }
}